body {
  background-image: url("./assets/img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-orange {
  background-color: #FFA500;
}

.bg-very-unhealthy {
  background-color: #800080;
}

.bg-hazardous {
  background-color: #7E0023;
}


/* queries */
